.button {
  background: $colorAccent;

  border-radius: 4px;
  border: none;

  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: calc(30 / 16);
  color: $colorWhite;

  cursor: pointer;
}

.button__order {
  padding: 10px 32px;
}

.subscription-button {
  display: flex;
  align-items: center;
  padding: 10px 28px 10px 29px;
}
.subscription-button__icon {
  margin-left: 10px;
}

.subscription-button__svg {
  fill: $colorWhite;
}

.modal-button-submit {
  display: block;

  margin-right: auto;
  margin-left: auto;

  padding: 10px 55px 10px 56px;
}

.modal-button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  padding: 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $colorWhite;

  cursor: pointer;

  &:hover &__icon {
    fill: $colorAccent;
  }
}
