.features {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

.features__item {
  @media screen and (min-width: $tablet) {
    width: calc((100% - (1 * 30px)) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - (3 * 30px)) / 4);
  }
}

.features__block {
  display: flex;
  justify-content: center;
  background: #f5f4fa;
  height: 120px;
  border-radius: 4px;
  align-items: center;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: 10px;
  margin-top: 30px;

  text-transform: uppercase;
  font-size: 14px;
  text-align: center;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.features__text {
  color: $colorGray;
  line-height: 1.7;
  font-size: 14px;
  letter-spacing: 0.03em;
}
