.footer {
  margin-left: auto;
  margin-right: auto;

  background-color: $bgColorFooter;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: block;
  text-align: center;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}

.footer-tablet {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-around;
    align-items: center;

    text-align: center;

    // padding: 0 89px 60px 76px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    padding: 0;
    text-align: justify;
    align-items: baseline;
    margin: 0;
  }
}

.footer-contacts {
  @media screen and (min-width: $desktop) {
    margin-right: 70px;
  }
}

.footer-contacts__item {
  font-size: 14px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.footer-contacts__data {
  color: $colorSubscriptionPlaceholderGrey;
  text-decoration: none;
  font-style: normal;

  transition: color 250ms $cubic;

  &:hover,
  &:focus {
    color: $colorAccent;
  }

  &--color {
    color: $colorWhite;
  }
}

.wellcom-block {
  // margin: 60px 0;
  margin-top: 60px;

  color: $colorWhite;

  @media screen and (min-width: $tablet) {
    margin: 0;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 93px;
  }
}
.wellcom-block__title {
  margin-bottom: 20px;

  text-transform: uppercase;
  font-size: 14px;
}
