.footer {
  margin-left: auto;
  margin-right: auto;

  background-color: $bgColorFooter;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: block;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 60px;

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    text-align: left;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}

.footer-tablet {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 60px;
    align-items: center;
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    gap: 70px;
    text-align: justify;
    align-items: baseline;
  }
}
.adress-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-contacts__list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (min-width: $desktop) {
    gap: 9px;
  }
}

.footer-contacts__item {
  font-size: 14px;
}

.footer-contacts__data {
  color: $colorSubscriptionPlaceholderGrey;
  text-decoration: none;
  font-style: normal;

  transition: color 250ms $cubic;

  &:hover,
  &:focus {
    color: $colorAccent;
  }

  &--color {
    color: $colorWhite;
  }
}

.wellcom-block {
  display: flex;
  flex-direction: column;
  gap: 20px;

  color: $colorWhite;
}

.wellcom-block__title {
  text-transform: uppercase;
  font-size: 14px;
}
