.footer {
  background-color: $bgColorFooter;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  align-items: baseline;
  display: flex;
}

.footer-contacts {
  width: 231px;
}
.footer-contacts__item {
  font-size: 14px;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
.footer-contacts__data {
  color: $colorSubscriptionPlaceholderGrey;
  text-decoration: none;
  font-style: normal;

  transition: color 250ms $cubic;

  &:hover,
  &:focus {
    color: $colorAccent;
  }

  &--color {
    color: $colorWhite;
  }
}

.wellcom-block {
  color: $colorWhite;
  margin-left: 70px;
}
.wellcom-block__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
}
