.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: $bgColorBackdrop;
  opacity: 1;
  transition: opacity 250ms $cubic;

  overflow-x: scroll;
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 40px 40px 40px 40px;

  width: calc(100% - 30px);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms, $cubic;

  @media screen and (min-width: $mobile) {
    width: 450px;
  }
  @media screen and (min-width: $desktop) {
    width: 528px;
  }
  .modal__title {
    margin-bottom: 12px;

    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: calc(30 / 20);
  }
  .modal__list {
    margin-bottom: 20px;
  }
  .modal__item:not(:first-child) {
    margin-top: 10px;
  }
  .modal__label {
    position: relative;
    display: block;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: $colorGray;
  }

  .modal__icon {
    position: absolute;

    top: 50%;
    left: 0;

    transform: translateX(12px);

    width: 18px;
    height: 18px;

    transition: fill 250ms $cubic;
  }
}

.modal__frame {
  width: 100%;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  margin-top: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 16px;

  cursor: pointer;

  resize: none;

  transition: border 250ms $cubic;

  &:focus-within {
    border: 1px solid $colorAccent;
  }
  &:focus-within + .modal__icon {
    fill: $colorAccent;
  }
}
.modal__svg {
  width: 12px;
  height: 12px;
}
.modal__textarea {
  display: block;

  height: 120px;
  padding: 12px 16px;

  &::placeholder {
    display: block;
    height: 100%;
    margin: 12px 16px;

    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.01em;

    color: $colorFormPlaceholderGrey;
  }
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}
.checkbox__input {
  appearance: none;

  &:checked + .checkbox__icon {
    fill: none;
    background-image: url(../img-vect/checkbox-mark.svg);
    width: 16px;
    height: 15px;
  }
}

.checkbox__text {
  margin-left: 7px;

  font-size: 12px;
  line-height: calc(14 / 12);
  font-weight: 400;
  letter-spacing: 0.03em;

  color: $colorGray;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }

  &--accent {
    color: $colorAccent;
  }
}

.subscription {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
}

.subscription__title {
  text-align: center;

  text-transform: uppercase;
  font-size: 14px;

  color: $colorWhite;

  @media screen and (min-width: $desktop) {
    text-align: justify;
  }
}

.subscription__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    align-items: flex-end;
    margin-top: 20px;
  }
}

.subscription__input {
  height: 50px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  color: $colorWhite;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;

    color: $colorSubscriptionPlaceholderGrey;
  }

  @media screen and (max-width: 1199px) {
    margin: 20px 0;
  }

  @media screen and (min-width: $tablet) {
    width: 450px;
  }
  @media screen and (min-width: $desktop) {
    width: 358px;
    margin-right: 12px;
  }
}
