.header {
  position: relative;

  margin-top: -1px;
  border-bottom: 1px solid $colorOutline;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;

  align-items: center;

  @media screen and (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: $tablet) {
    padding: 0 15px 0 15px;
  }
}

.menu-container {
  align-items: center;
  width: 100%;
  height: auto;

  background-color: $colorWhite;

  @media screen and (max-width: 767px) {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;

    &.is-open {
      display: block;

      padding: 0px 0px 40px 48px;

      & .header-nav__link {
        color: red;
        font-size: 40px;
      }

      & .header-contact {
        margin-bottom: 64px;
      }

      & .header-contact__link--font-size {
        font-size: 34px;
        color: $colorAccent;
      }

      & .header-nav__link--current::after {
        display: none;
      }

      & .header-contact__item:first-child {
        margin-bottom: 32px;
      }

      & .social-list {
        display: flex;
      }
      & .social-list__link {
        padding-right: 5px;
        padding-left: 5px;
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.02em;
        color: $colorAccent;
        &--separation {
          border-right: 1px solid rgba(33, 33, 33, 0.2);
        }
      }
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.header-nav__list {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.header-nav__item {
  position: relative;

  @media screen and (max-width: 767px) {
    &:nth-child(2) .header-nav__link {
      padding: 32px 0;
    }

    &:nth-child(3) .header-nav__link {
      padding-bottom: 302px;
    }
  }

  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 50px;
    }
    &:first-child {
      margin-left: 88px;
    }
  }
  @media screen and (min-width: $desktop) {
    &:first-child {
      margin-left: 0;
    }
  }
}

.header-nav__link {
  display: flex;
  text-decoration: none;
  font-weight: 500;
  color: inherit;
  letter-spacing: 0.02em;
  line-height: 1.14;
  transition: color 250ms $cubic, fill 250ms $cubic;

  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;

  &--current::after {
    position: absolute;
    bottom: 0;

    content: '';
    width: 100%;
    text-align: center;
    height: 4px;
    bottom: -1.5px;
    border-radius: 4px;
    background-color: $colorAccent;
    opacity: 1;
  }

  &:hover,
  &:focus {
    color: $colorAccent;
  }

  @media screen and (min-width: $tablet) {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
  }
}

.header-contact {
  padding: 0;
  margin-left: auto;

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 14px;
  }

  @media screen and (min-width: $desktop) {
    display: -webkit-box;
  }
}

.header-contact__item {
  // display: -webkit-box;
  display: -webkit-box;
  display: -ms-flexbox;

  &:first-child {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $desktop) {
    &:first-child {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }
}

.header-contact__link {
  margin-right: 8px;

  color: $colorGray;
  fill: $colorGray;
  text-decoration: none;

  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  text-align: center;
  letter-spacing: 0.02em;

  transition: color 250ms $cubic, fill 250ms $cubic;

  &:hover,
  &:focus {
    fill: $colorAccent;
    color: $colorAccent;
  }

  & {
    font-size: 24px;
    line-height: calc(28 / 24);
  }

  & {
    @media screen and (min-width: $tablet) {
      display: flex;
      font-weight: 500;
      font-size: 12px;
      line-height: calc(14 / 12);
      letter-spacing: 0.02em;
    }
  }
}

.header-contact__icon {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    margin-right: 10px;
    border: 0;
    list-style: none;
  }
}
