.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  z-index: 50;

  max-width: 1600px;

  padding-top: 118px;
  padding-bottom: 118px;


  background-size: cover;
  background-position: center;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../img-rast/hero/Hero-mobile.jpg');

  @media screen and (max-width: 479px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../img-rast/hero/Hero-mobile@2x.jpg');
  }

  @media screen and (min-width: $tablet) {
    & {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../img-rast/hero/Hero-tablet.jpg');

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url('../img-rast/hero/Hero-tablet@2x.jpg');
      }
    }
  }

  @media screen and (min-width: $desktop) {
    & {
      padding-top: 200px;
      padding-bottom: 200px;

      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../img-rast/hero/Hero-desktop.jpg');
    }

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../img-rast/hero/Hero-desktop@2x.jpg');
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;


  color: $colorWhite;

  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);

  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: $mobile) {
    width: 360px;
  }

  @media screen and (min-width: $desktop) {
    width: 696px;
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}
