.logo {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $colorAccent;
}

.header-logo__accent {
  color: $colorBlack;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-logo__accent {
  color: $colorWhite;
}
