.button-block {
  display: flex;
  flex-wrap: wrap;
  margin-top: -7.5px;
  margin-right: -4px;
  margin-left: -4px;

  @media screen and (max-width: 767px) {
    justify-content: left;
    margin-bottom: 32.5px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 22.5px;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 42.5px;
  }
}

.button-block__object {
  padding: 6px 22px;
  cursor: pointer;

  background-color: $bgColorProjectButtons;
  font-weight: 500;
  line-height: 1.6;
  border-radius: 4px;
  border: none;

  transition: background-color 250ms $cubic, box-shadow 250ms $cubic, color 250ms $cubic;

  &:hover,
  &:focus {
    color: $colorWhite;
    background-color: $colorAccent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.button-block__item {
  margin: 7.5px 4px;
}

/* our_projects buttons end  */

/* project pictures  start*/

.projects {
  outline: 2px green solid;

  @media screen and (min-width: $tablet) {
    outline: 2px green solid;
    margin: -15px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
    width: auto;
  }
}

.projects__item {
  outline: 2px green solid;

  @media screen and (max-width: 767px) {
    &:nth-child(-n + 8) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - (4 * 15px)) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - (6 * 15px)) / 3);

    // &:nth-child(-n + 6) {
    //   margin-bottom: 30px;
    // }
  }
}

.projects-sample {
  outline: 2px red solid;

  text-decoration: none;
  color: $colorBlack;

  transition: box-shadow 250ms $cubic;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .projects-sample__pic-block--overlay,
  &:focus .projects-sample__pic-block--overlay {
    transform: translateY(0%);
  }
}

.projects-sample__pic-block {
  outline: 2px red solid;

  position: relative;
  overflow: hidden;

  &--overlay {
    position: absolute;
    padding: 63px 24px;
    top: 0;
    left: 0;
    height: 100%;

    background-color: $bgColorProjectOverlay;
    color: $colorWhite;
    font-size: 18px;
    line-height: 1.5555;

    transform: translateY(100%);
    transition: transform 250ms ease, background-color 250ms $cubic, color 250ms $cubic;
  }
}

.projects-sample__title {
  outline: 2px red solid;

  padding-left: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.projects-sample__name {
  word-break: break-word;

  padding-top: 20px;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.projects-sample__direction {
  margin-bottom: 20px;

  line-height: 1, 88;
  color: $colorGray;
}
