.projects {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: $tablet) {
    flex-wrap: wrap;
    flex-direction: row;
  }

  @media screen and (min-width: $desktop) {
    width: auto;
  }
}

.projects__item {
  @media screen and (min-width: $tablet) {
    width: calc((100% - (1 * 30px)) / 2);

    & .projects-sample__title {
      flex-grow: 1;
    }
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - (2 * 30px)) / 3);
  }
}

.projects-sample {
  text-decoration: none;
  color: $colorBlack;
  display: flex;
  flex-direction: column;
  height: 100%;

  transition: box-shadow 250ms $cubic;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .projects-sample__pic-block--overlay,
  &:focus .projects-sample__pic-block--overlay {
    transform: translateY(0%);
  }
}

.projects-sample__pic-block {
  position: relative;
  overflow: hidden;

  &--overlay {
    position: absolute;
    padding: 63px 24px;
    top: 0;
    left: 0;
    height: 100%;

    background-color: $bgColorProjectOverlay;
    color: $colorWhite;
    font-size: 18px;
    line-height: 1.5555;

    transform: translateY(100%);
    transition: transform 250ms ease, background-color 250ms $cubic, color 250ms $cubic;
  }
}

.projects-sample__title {
  display: flex;
  flex-direction: column;
  justify-content: right;

  padding: 20px 24px;

  outline: 1px solid #eeeeee;
}
.projects-sample__name {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.projects-sample__direction {
  line-height: calc(30 / 16);
  color: $colorGray;
}
