*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;

  font-family: roboto, sans-serif;
  background-color: $bgColorWhite;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $colorBlack;
  list-style: none;
  margin: 0;

  // @media screen and (max-width: 767px) {
  //   &.body-hidden {
  //     overflow: hidden;
  //   }
  // }
}

main {
  padding-top: 74px;

  @media (min-width:$tablet) {
    padding-top: 80px;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;

  &--no-padding-top {
    padding-top: 0;
  }

  &__title--visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.section__title {
  margin-bottom: 30px;

  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.section--team-background {
  background-color: $bgColorProjectButtons;
  margin-left: auto;
  margin-right: auto;

  // @media screen and (min-width: $tablet) {
  //   width: $tablet;
  //   // margin: 0 -15px;
  // }
}
