*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: roboto, sans-serif;
  background-color: $bgColorWhite;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $colorBlack;
  list-style: none;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1170px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}
.section--no-padding-top {
  padding-top: 0;
}

.section__title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section--team-background {
  background-color: $bgColorProjectButtons;
}
