.logo {
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $colorAccent;
}

.header__logo {
  margin-right: 93px;

  &.is-open {
    display: none;
  }
}

.header-logo__accent {
  color: $colorBlack;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-logo__accent {
  color: $colorWhite;
}
