.social {
  display: flex;
  display: flex;
}

.team__item .social {
  margin-left: 32px;
  margin-right: 32px;
}

.social_item {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms $cubic;

  &:hover,
  &:focus {
    background-color: $colorAccent;
    fill: $colorWhite;
  }
}

.footer .social__link {
  background: rgba(255, 255, 255, 0.1);
  fill: $colorWhite;
}

.team__item .social__link {
  fill: $colorGray;
}

.social-list {
  display: flex;
}
