.team {
  display: flex;
}
.team__item {
  background-color: $bgColorWhite;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: $desctop) {
  &:not(:first-child) {
    margin-left: 30px;
  }
}
.team__detail {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__title {
  text-align: center;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
}
.team__text {
  text-align: center;
  margin-bottom: 16px;
  color: $colorGray;
}
